<!-- booksers2_users_部分テンプレート_完了-->

<!-- ここから -->

  <!-- フラッシュメッセージ投稿成功時 -->
  <div>
    <%= flash[:notice] %>
  </div>

  <h2>User info</h2>
      <!-- image -->
    <%= image_tag user.get_profile_image(100,100) %>
            <!-- name introduction -->
          <table class="table">
            <tbody>
              <tr></tr>
                <!-- name -->
              <tr>
                <th>name</th>
                <th><%= user.name %></th>
              </tr>
                <!-- introduction -->
              <tr>
                <th>introduction</th>
                <th><%= user.introduction %></th>
              </tr>
            </tbody>
          </table>
          
            <!-- User info_遷移先がしっかり更新先になった_チェックボックス -->
          <div class="row">
            
              <%= link_to edit_user_path(user), class:"btn btn-outline-secondary btn-block" do %>
                <i class="fas fa-user-cog" aria-hidden="true"></i>
              <% end %>
            
          </div>
            <h2 class="mt-3">New book</h2>
                
                <!-- new book_title_opinion_create book -->
              <%= form_with model: book do |f| %>
                  <!-- title box -->
                <div class="form-group">
                  <label for="book_title">Title</label><br>
                    <%= f.text_field :title %>
                </div>
                  <!-- Opinion box-->
                <div class="form-group">
                  <label for="book_opinion">Opinion</label><br>
                    <%= f.text_area :body %>
                </div>
                  <!-- Create Book box -->
                <div class="form-group">
                  <%= f.submit 'Create Book',class:"btn btn-success" %>
                </div>
              <% end %>
              
<!-- ここまで -->

