<h1>Users_show#top一番初めのページ</h1>
  <!-- bookers2_users_show -->


<!-- ユーザーの詳細 -->

      <div>
        <h2>User info</h2>
          
          <%= image_tag @user.get_profile_image(100,100) %>
            <!-- user詳細画像 -->
          
        <h6>
          name
            <%= @user.name %>
              <!-- ログイン中のユーザー名 -->
        </h6>
        
        <h6>
          introduction
        </h6>
        
      </div>
        <!-- User 詳細 -->
        
      <div>
        
        <%= link_to edit_user_path,class:'nav-link col-3 btn-block btn-secondary' do %>
          <i class="fas fa-user-cog" aria-hidden="true"></i>
        <% end %>
      </div>
        <!-- User info -->
    
    <h4>New book</h4>
    
      <%= form_with model: @book, method: :post do |f| %>
        <!-- 遷移先未設定 -->
        
        <h6>Title</h6>
        
          <%= f.text_field :title %>
            <!-- -->
        
        <h6>Opinion</h6>
        
          <%= f.text_area :body %><br>
            <!-- -->
        
          <%= f.submit 'Create Book' %>
            <!-- -->
        
      <% end %>


