  <!-- 画像投稿一覧#index_bookers2_views_books_index_投稿一覧_完了 -->
  
  
<html>
   
     <!-- エラーメッセージ表示 -->
   <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this obj from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
    
  <p id="notice"></p>
  
  <div class="container px-5 px-sm-0">
    <div class="row">
      
        <!-- 部分テンプレートrender表記 -->
      <div class="col-md-3">
        <%= render 'users/list', user: @user,book: @book %>
      </div>
        <!-- Book 画像投稿一覧 -->
      <div class="col-md-8 offset-md-1">
        <h1>Books</h1>
        
        <table class="table table-hover table-inverse">
            <!-- title opinion -->
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
            
            <!-- books 投稿一覧_表示説明あり -->
          <tbody>
            <% @books_lists.each do |book| %>
                <!-- Bookscontroller_index_@books_listsに投稿されたブックデータが入ってる -->
                <!-- .each(繰り返し処理) -->
                <!-- @books_listsを |book| に格納する -->
              <tr align=”center”>
                <td><%= image_tag book.user.get_profile_image(100,100) %></td>
                  <!-- image_tag(画像表示する時の表記) 上記で格納された|book|から.userデータを取り出す.get_profile_image(100,100) -->
                <td><%= link_to book.title, book_path(book.id) %></td>
                  <!-- userの詳細ページに遷移 -->
                <td><%= book.body %></td>
              </tr>
　          <% end %>
          </tbody>
          
        </table>
        
      </div>
      
    </div>
  </div>
</html>   


