<h1>画像投稿一覧#index_top</h1>
   <!-- bookers2_views_books_index_投稿一覧 -->

<html>
  <p id="notice"></p>
  
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-8 offset-md-1">
        <h1>Books</h1>
    
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody> </tbody>
        </table>
        
        <tbody>
          <% @books.each do |book| %>
        
            <tr align=”center”>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
                <td><%= link_to "Show", book_path(book.id) %></td>
                <td><%= link_to "Edit", edit_book_path(book.id) %></td>
                <td><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
          
　        <% end %>   
　      </tbody>
        
      </div>
    </div>
  </div>
</html>   
   
   
   <!--<!--% @books_images.each do |book_image| %>-->
   <!--  　Controllerから渡された@books_images変数内から1つずつ取り出して,book_image変数へ格納します -->
     
  <!--<div>-->
  <!--  <!--%= image_tag book_image.get_image %>-->
  <!--       image_tagを使いbook_imageにActiveStorageで設定した imageを表示 -->
        
  <!--    <p>投稿ユーザー画像：<!--%= image_tag 'sample-author1.jpg' %></p>-->
         
        
  <!--    <p>ショップ名：<!--%= book_image.shop_name %></p>-->
  <!--       画像を用意 でダウンロードした画像 -->
        
  <!--    <p>説明：<!--%= book_image.caption %></p>-->
  <!--       book_image変数の説明を表示 -->
        
  <!--    <p>ユーザーネーム：<!--%= book_image.user.name %></p>-->
         
        
  <!--</div>-->
  
<!--% end %>