<!-- bookers2_views_devise_sessions ディレクトリ -->
  
  <div class="container">
    <div class="row no-gutters">
      <div class="form-body p-1">
        <h2>Log in</h2>
        
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
          <!--%= form_with model: @user, url: user_session_path do |f| %-->
            <!-- 変更前 -->
          
        <%= render "devise/shared/error_messages", resource: resource %>
            <!-- Log_in_name_チェックボックス -->
          <div class="input-group mb-3">
            <div class="field">
                <!--  -->
              <%= f.label :name %><br>
                <!-- 編集 -->
              <%= f.text_field :name, autofocus: true %>
            </div>
          </div>
            <!-- Log_in_pass -->
          <div class="field">
              <!--  -->
            <%= f.label :password %>
              <!-- text_sample_表示_ヒント -->
            <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"" %>
          </div>
            <!-- Remenber me チェックボックスタグ -->
          <div class="field">
            <%= check_box_tag :remember, params[:remember], true %>
              
            <%= label_tag :remember_me %>
          </div>
            <!-- Log_in_ボタン -->
          <div class="col-5">
            <%= f.submit "Log in", class:"btn btn-sm btn-primary" %>
          </div>  
        <% end %>
        
        <%= render "devise/shared/links" %>
          <!-- Forgot your password? テキストがdeviseにより？生成された？ -->
          
      </div>
    </div>
  </div>
  
  