<!DOCTYPE html> 
  <!-- bookers2_layouts全ページ共通_application -->
  
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/5e22f18747.js" crossorigin="anonymous"></script>
      <!-- FontAwesomeの記述 -->
      
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <!-- 変更後 -->
      <!-- stylesheet_link_tagは、app/assets 配下のファイルを cssが -->
      <!-- stylesheet_pack_tagは、app/javascript 配下のファイルを参照する -->
      
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!--  -->
      
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          
            <a class="navbar-brand" href="/">
              <span>Bookers</span>
        
          <% if user_signed_in? %>
            
            <div class="row">
              <%= link_to root_path do %>
                <i class="fas fa-home">
                  <!-- 本のアイコン -->
                </i> Home
              <% end %>
            </div>
              <!-- Home△ -->
              
            <div class="row">
              <%= link_to users_path do %>
                <i class="fas fa-users">
                  <!--  -->
                </i> Users
              <% end %>
            </div>
              <!-- Users一覧へ〇 -->
              
            <div class="row">
              <%= link_to books_path do %>
                <i class="fas fa-book-open">
                  <!--  -->
                </i> Books
              <% end %>
            </div>
              <!-- Books一覧へ〇 -->
              
            <div class="row">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt">
                  <!-- 本のアイコン -->
                </i> Log out
              <% end %>
            </div>
              <!-- ログアウト〇 -->
              
          <% else %>
          
            <div class="row">
              <%= link_to root_path do %>
                <i class="fas fa-home">
                  <!-- -->
                </i> Home
              <% end %>
            </div>
              <!-- Home△ -->
              
            <div class="row">
              <%= link_to about_path do %>
                <i class="fas fa-link">
                  <!--  -->
                </i> about
              <% end %>
            </div>
              <!-- about〇 -->
              
            <div class="row">
              <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus">
                  <!--  -->
                </i> Sign up
              <% end %>
            </div>
              <!-- Sign up〇 -->
              
            <div class="row">
              <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt">
                  <!--  -->
                </i> Log in
              <% end %>
            </div>
              <!-- ログイン〇 -->
              
          <% end %>
             
            </a>
          <button class="navbar-toggler" type="button"></button>
            <!-- navbar濃いグレー -->
        </div>
      </nav>
    </header>
    
    <%= yield %>
      
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p>
              <font style="vertical-align: inherit;">
                 CopyRight Infratop.inc
              </font>
            </p>
          </div>
        </div>  
      </div>
    </footer>
    
  </body>
  
</html>

